<!-- login-register-template.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}
{%-render 'sc_css'-%}
<div class="border-top" style="opacity: 0.3"></div>
<div class="{{width_section_}}">
  <div class="section-width {{width_content_}}">
    {%-render 'kt_breadcrumb'-%}
  </div>
</div>
<div class="login-page {{width_section_}}">
  <div class="content_{{section.id}}{%if section.settings.image %} bg-image lazyload{%endif%}"{%if section.settings.image  %} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
    <div class="section-width {{width_content_}}">
      <div class="form-box">
        {%- if template.name == 'login' or template.name == 'register' -%}
        <div class="form-tab">
          <ul class="nav nav-pills nav-fill list-unstyled" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">{{'customer.login.sign_in'|t}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">{{'customer.register.submit'|t}}</a>
            </li>
          </ul>
          <div class="tab-content" id="tab-content-5">
            <div class="tab-pane fade active show" id="signin" role="tabpanel" aria-labelledby="signin-tab">
              {% form 'customer_login', id: 'CustomerLoginForm', class: 'needs-validation' %}
              {{ form.errors | default_errors }}
              <div class="form-group">
                <label for="singin-email">{{ 'customer.login.email' | t }}</label>
                <input type="email" id="singin-email" class="form-control" name="customer[email]" required="">
              </div>
              {%- if form.password_needed -%}
              <div class="form-group">
                <label for="singin-password">{{ 'customer.login.password' | t }}</label>
                <input type="password" id="singin-password" class="form-control" name="customer[password]" required="">
              </div>
              {%- endif -%}
              <div class="form-footer d-flex flex-wrap flex-md-nowrap">
                <button type="submit" class="btn btn-outline-primary-2">
                  <span>{{ 'customer.login.sign_in' | t }}</span>
                  <i class="fkt-long-arrow-right"></i>
                </button>
                {%- if form.password_needed -%}
                <a href="#recover" id="RecoverPassword" class="forgot-link mt-1 mb-1">{{ 'customer.login.forgot_password' | t }}</a>
                {%- endif -%}
              </div>
              {% endform %}
              {% form 'recover_customer_password', id: 'RecoverPasswordForm', class: 'd-none needs-validation' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
              <span class="d-none reset-password-success">{{ 'customer.recover_password.success' | t }}</span>
              {% endif %}
              <div class="form-group">
                <label for="RecoverEmail">{{ 'customer.login.email' | t }}</label>
                <input type="email" id="RecoverEmail" class="form-control" name="email" required="">
              </div>

              <div class="form-footer d-flex flex-wrap flex-md-nowrap">
                <button type="submit" class="btn btn-outline-primary-2">
                  <span>{{ 'customer.recover_password.submit' | t }}</span>
                  <i class="fkt-long-arrow-right"></i>
                </button>
                <a href="#recover" id="HideRecoverPasswordLink" class="forgot-link mt-1 mb-1">{{ 'customer.recover_password.cancel' | t }}</a>
              </div>
              {% endform %}
              {% if shop.checkout.guest_login %}
              {% form 'guest_login' %}
              <h2 class="h4" style="font-weight: 400;">{{ 'customer.login.guest_title' | t }}</h2>
              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                  <span>{{ 'customer.login.guest_continue' | t }}</span>
                  <i class="fkt-long-arrow-right"></i>
                </button>
              </div>
              {% endform %}
              {% endif %}
            </div>
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
              {% form 'create_customer', class: 'needs-validation' %}
              {{ form.errors | default_errors }}
              <div class="form-group">
                <label for="register-email">{{ 'customer.register.email' | t }}</label>
                <input type="email" class="form-control" id="register-email" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %} required="">
              </div>

              <div class="form-group">
                <label for="register-password">{{ 'customer.register.password' | t }}</label>
                <input type="password" class="form-control" id="register-password" name="customer[password]" required="">
              </div>

              <div class="form-group custom-control custom-checkbox">
                <input type="hidden" name="customer[accepts_marketing]" value="" />
                <input class="custom-control-input" id="register-subcrible" type="checkbox" name="customer[accepts_marketing]" checked="checked" />
                <label class="custom-control-label" for="register-subcrible" style="font-size: 1.3rem;">{{ 'customer.register.subcrible' | t }}</label>
              </div>

              <div class="form-footer d-flex flex-wrap flex-md-nowrap agree_checkbox">
                <button type="submit" class="btn btn-outline-primary-2 text-nowrap kt_agree_swich" data-layout="account">
                  <span>{{ 'customer.register.submit' | t }}</span>
                  <i class="fkt-long-arrow-right"></i>
                </button>
                {%- if settings.terms_conditions_register -%}
                <div class="mt-1 mb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input kt_agree" data-layout="account" id="register-policy" required="">
                    <label class="custom-control-label" for="register-policy" style="font-size: 1.3rem;">
                      {{settings.terms_and_privacy_conditions_register|replace: '<p>','<p class="m-0" style="display: inline">'|html}}
                    </label>
                  </div>
                </div>
                {%- endif -%}
              </div>
              {% endform %}
            </div>
          </div>
        </div>
        {%- elsif template.name == 'reset_password' -%}
        {% form 'reset_customer_password', id: 'CustomerResetForm', class: 'needs-validation' %}
        <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
        {{ form.errors | default_errors }}
        <div class="form-group">
          <label for="singin-password">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password" id="singin-password" class="form-control" name="customer[password]" required="">
        </div>

        <div class="form-group">
          <label for="singin-password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password" id="singin-password_confirmation" class="form-control" name="customer[password_confirmation]" required="">
        </div>

        <div class="form-footer">
          <button type="submit" class="btn btn-outline-primary-2">
            <span>{{ 'customer.reset_password.submit' | t }}</span>
            <i class="fkt-long-arrow-right"></i>
          </button>
        </div>
        {% endform %}
        {%- elsif template.name == 'activate_account' -%}
        {% form 'activate_customer_password', id: 'CustomerActivateForm', class: 'needs-validation' %}
        {{ form.errors | default_errors }}
        <div class="form-group">
          <label for="singin-password">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" id="singin-password" class="form-control" name="customer[password]" required="">
        </div>
        <div class="form-group">
          <label for="singin-password_confirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" id="singin-password_confirmation" class="form-control" name="customer[password_confirmation]" required="">
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-outline-primary">
            <span>{{ 'customer.activate_account.password_confirm' | t }}</span>
            <i class="fkt-long-arrow-right"></i>
          </button>
          <button type="submit" class="btn btn-outline-primary-2">
            <span>{{ 'customer.activate_account.cancel' | t }}</span>
          </button>
        </div>
        {% endform %}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Login & Register page",
    "settings": [
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "w-100"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem",
        "default": "17.5rem 0 17.5rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      }
    ]
  }
{% endschema %}

{%-style-%}
/* Login */
.form-box {
  max-width: 575px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 3.7rem 2rem;
  box-shadow: 0 3px 16px rgba(51, 51, 51, 0.1);
}
@media (min-width: 767px) {
  .form-box {
    padding: 3.7rem 6rem 6.4rem;
  }
}
.form-box .btn {
  min-width: 115px;
}

.form-tab .nav.nav-pills {
  border-bottom: thin solid #ebebeb;
}
.form-tab .nav.nav-pills .nav-item {
  margin-bottom: -0.1rem;
}
[dir="ltr"] .form-tab .nav.nav-pills .nav-item + .nav-item {
  margin-left: 0;
}
[dir="rtl"] .form-tab .nav.nav-pills .nav-item + .nav-item {
  margin-right: 0;
}
.form-tab .nav.nav-pills .nav-link {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: -0.025em;
  color: inherit;
  border-bottom-width: 0.2rem;
  padding: 0.9rem 1rem;
}
.form-tab .nav.nav-pills .nav-link.active {
  color: inherit;
}
.form-tab .nav-fill .nav-item {
  flex: 1 1 0;
}
.form-tab .tab-content .tab-pane {
  padding: 2rem 0 0;
}
.form-tab .form-group {
  margin-bottom: 1.3rem;
}
.form-tab .form-footer {
  padding-top: 0.6rem;
  padding-bottom: 3rem;
  border-bottom: thin solid #ebebeb;
  margin-bottom: 2.3rem;
}
[dir="ltr"] .form-tab .form-footer .btn {
  margin-right: 1.6rem;
}
[dir="rtl"] .form-tab .form-footer .btn {
  margin-left: 1.6rem;
}
.form-tab .form-footer a {
  color: inherit;
}
.form-tab .form-footer a:hover, .form-tab .form-footer a:focus {
  color: var(--primary);
}
.form-tab .form-footer a:not(.forgot-link) {
  text-decoration: underline;
}
.form-tab .form-footer .custom-control {
  margin: 0;
}
@media (min-width: 768px) {
  [dir="ltr"] .form-tab .form-footer .forgot-link {
    margin-left: auto;
  }
  [dir="rtl"] .form-tab .form-footer .forgot-link {
    margin-right: auto;
  }
}
.form-choice {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
.form-choice p {
  margin-bottom: 2.7rem;
}
.btn.btn-login {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.85rem 1rem;
  border: thin solid #ebebeb;
  min-width: 0;
}
.btn.btn-login i {
  text-align: initial;
  display: inline-block;
  margin-right: 0 !important;
  margin-left: 0 !important;
  min-width: 2rem;
}
.btn.btn-login.btn-g i {
  color: #cc3333;
  min-width: 2.6rem;
}
.btn.btn-login.btn-f i {
  color: #3366cc;
}
.btn.btn-login:hover, .btn.btn-login:focus {
  background-color: #f5f6f9;
}
{%-endstyle-%}